/*
Euler Stream Sign API

Sign Server API Documentation

API version: dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package eulerapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// TikTokLIVEPremiumAPIService TikTokLIVEPremiumAPI service
type TikTokLIVEPremiumAPIService service

type ApiRetrieveBulkLiveCheckRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEPremiumAPIService
	retrieveBulkLiveCheckRequest *RetrieveBulkLiveCheckRequest
	xOauthToken *string
	xCookieHeader *string
}

// The body of the request containing user numeric IDs (e.g. 7602356191083907865).
func (r ApiRetrieveBulkLiveCheckRequest) RetrieveBulkLiveCheckRequest(retrieveBulkLiveCheckRequest RetrieveBulkLiveCheckRequest) ApiRetrieveBulkLiveCheckRequest {
	r.retrieveBulkLiveCheckRequest = &retrieveBulkLiveCheckRequest
	return r
}

// OAuth access token for session resolution
func (r ApiRetrieveBulkLiveCheckRequest) XOauthToken(xOauthToken string) ApiRetrieveBulkLiveCheckRequest {
	r.xOauthToken = &xOauthToken
	return r
}

// Cookie header containing sessionid and tt-target-idc
func (r ApiRetrieveBulkLiveCheckRequest) XCookieHeader(xCookieHeader string) ApiRetrieveBulkLiveCheckRequest {
	r.xCookieHeader = &xCookieHeader
	return r
}

func (r ApiRetrieveBulkLiveCheckRequest) Execute() (*RetrieveBulkLiveCheckResponse, *http.Response, error) {
	return r.ApiService.RetrieveBulkLiveCheckExecute(r)
}

/*
RetrieveBulkLiveCheck Method for RetrieveBulkLiveCheck

Requires Premium Routes Addon - A bulk-check endpoint to determine if a group of TikTok users (up to 50 at once) are live.
It uses a highly optimized job-based system for checking large numbers of users quickly.

**Authentication:** Provide exactly one of the following headers:
- `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
- `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveBulkLiveCheckRequest
*/
func (a *TikTokLIVEPremiumAPIService) RetrieveBulkLiveCheck(ctx context.Context) ApiRetrieveBulkLiveCheckRequest {
	return ApiRetrieveBulkLiveCheckRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RetrieveBulkLiveCheckResponse
func (a *TikTokLIVEPremiumAPIService) RetrieveBulkLiveCheckExecute(r ApiRetrieveBulkLiveCheckRequest) (*RetrieveBulkLiveCheckResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RetrieveBulkLiveCheckResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEPremiumAPIService.RetrieveBulkLiveCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/bulk_live_check"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.retrieveBulkLiveCheckRequest == nil {
		return localVarReturnValue, nil, reportError("retrieveBulkLiveCheckRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOauthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-oauth-token", r.xOauthToken, "simple", "")
	}
	if r.xCookieHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cookie-header", r.xCookieHeader, "simple", "")
	}
	// body params
	localVarPostBody = r.retrieveBulkLiveCheckRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveLiveAnalyticsUserInteractionsRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEPremiumAPIService
	roomId *string
	userId *string
	xOauthToken *string
	xCookieHeader *string
}

// The room ID of the livestream
func (r ApiRetrieveLiveAnalyticsUserInteractionsRequest) RoomId(roomId string) ApiRetrieveLiveAnalyticsUserInteractionsRequest {
	r.roomId = &roomId
	return r
}

// The numeric user ID to get interactions for
func (r ApiRetrieveLiveAnalyticsUserInteractionsRequest) UserId(userId string) ApiRetrieveLiveAnalyticsUserInteractionsRequest {
	r.userId = &userId
	return r
}

// OAuth access token for session resolution
func (r ApiRetrieveLiveAnalyticsUserInteractionsRequest) XOauthToken(xOauthToken string) ApiRetrieveLiveAnalyticsUserInteractionsRequest {
	r.xOauthToken = &xOauthToken
	return r
}

// Cookie header containing sessionid and tt-target-idc
func (r ApiRetrieveLiveAnalyticsUserInteractionsRequest) XCookieHeader(xCookieHeader string) ApiRetrieveLiveAnalyticsUserInteractionsRequest {
	r.xCookieHeader = &xCookieHeader
	return r
}

func (r ApiRetrieveLiveAnalyticsUserInteractionsRequest) Execute() (*LiveAnalyticsUserInteractionsAPIResponse, *http.Response, error) {
	return r.ApiService.RetrieveLiveAnalyticsUserInteractionsExecute(r)
}

/*
RetrieveLiveAnalyticsUserInteractions Method for RetrieveLiveAnalyticsUserInteractions

Requires Premium Routes Addon - Find out how long a user watched your stream, the # of comments sent, likes, the comments themselves, and more analytics data.

**Note:** The session you attach must own the livestream to check analytics for a given `room_id`.

Returns details about a user's activity in a room including comments, likes, shares, and watch duration.

**Authentication:** Provide exactly one of the following headers:
- `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
- `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveLiveAnalyticsUserInteractionsRequest
*/
func (a *TikTokLIVEPremiumAPIService) RetrieveLiveAnalyticsUserInteractions(ctx context.Context) ApiRetrieveLiveAnalyticsUserInteractionsRequest {
	return ApiRetrieveLiveAnalyticsUserInteractionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return LiveAnalyticsUserInteractionsAPIResponse
func (a *TikTokLIVEPremiumAPIService) RetrieveLiveAnalyticsUserInteractionsExecute(r ApiRetrieveLiveAnalyticsUserInteractionsRequest) (*LiveAnalyticsUserInteractionsAPIResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LiveAnalyticsUserInteractionsAPIResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEPremiumAPIService.RetrieveLiveAnalyticsUserInteractions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/live_analytics/user_interactions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.roomId == nil {
		return localVarReturnValue, nil, reportError("roomId is required and must be specified")
	}
	if r.userId == nil {
		return localVarReturnValue, nil, reportError("userId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "room_id", r.roomId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOauthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-oauth-token", r.xOauthToken, "simple", "")
	}
	if r.xCookieHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cookie-header", r.xCookieHeader, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveLiveAnalyticsVideoDetailRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEPremiumAPIService
	roomId *string
	xOauthToken *string
	xCookieHeader *string
}

// The room ID of the livestream to get analytics for
func (r ApiRetrieveLiveAnalyticsVideoDetailRequest) RoomId(roomId string) ApiRetrieveLiveAnalyticsVideoDetailRequest {
	r.roomId = &roomId
	return r
}

// OAuth access token for session resolution
func (r ApiRetrieveLiveAnalyticsVideoDetailRequest) XOauthToken(xOauthToken string) ApiRetrieveLiveAnalyticsVideoDetailRequest {
	r.xOauthToken = &xOauthToken
	return r
}

// Cookie header containing sessionid and tt-target-idc
func (r ApiRetrieveLiveAnalyticsVideoDetailRequest) XCookieHeader(xCookieHeader string) ApiRetrieveLiveAnalyticsVideoDetailRequest {
	r.xCookieHeader = &xCookieHeader
	return r
}

func (r ApiRetrieveLiveAnalyticsVideoDetailRequest) Execute() (*LiveAnalyticsVideoDetailAPIResponse, *http.Response, error) {
	return r.ApiService.RetrieveLiveAnalyticsVideoDetailExecute(r)
}

/*
RetrieveLiveAnalyticsVideoDetail Method for RetrieveLiveAnalyticsVideoDetail

Requires Premium Routes Addon - Retrieve detailed analytics for a specific past livestream.

**Note:** The session you attach must own the livestream to check analytics for a given `room_id`.

**Authentication:** Provide exactly one of the following headers:
- `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
- `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveLiveAnalyticsVideoDetailRequest
*/
func (a *TikTokLIVEPremiumAPIService) RetrieveLiveAnalyticsVideoDetail(ctx context.Context) ApiRetrieveLiveAnalyticsVideoDetailRequest {
	return ApiRetrieveLiveAnalyticsVideoDetailRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return LiveAnalyticsVideoDetailAPIResponse
func (a *TikTokLIVEPremiumAPIService) RetrieveLiveAnalyticsVideoDetailExecute(r ApiRetrieveLiveAnalyticsVideoDetailRequest) (*LiveAnalyticsVideoDetailAPIResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LiveAnalyticsVideoDetailAPIResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEPremiumAPIService.RetrieveLiveAnalyticsVideoDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/live_analytics/video_detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.roomId == nil {
		return localVarReturnValue, nil, reportError("roomId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "room_id", r.roomId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOauthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-oauth-token", r.xOauthToken, "simple", "")
	}
	if r.xCookieHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cookie-header", r.xCookieHeader, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveLiveAnalyticsVideoListRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEPremiumAPIService
	count *float64
	offset *float64
	xOauthToken *string
	xCookieHeader *string
}

// Number of videos to retrieve (default: 10)
func (r ApiRetrieveLiveAnalyticsVideoListRequest) Count(count float64) ApiRetrieveLiveAnalyticsVideoListRequest {
	r.count = &count
	return r
}

// Pagination offset (default: 0)
func (r ApiRetrieveLiveAnalyticsVideoListRequest) Offset(offset float64) ApiRetrieveLiveAnalyticsVideoListRequest {
	r.offset = &offset
	return r
}

// OAuth access token for session resolution
func (r ApiRetrieveLiveAnalyticsVideoListRequest) XOauthToken(xOauthToken string) ApiRetrieveLiveAnalyticsVideoListRequest {
	r.xOauthToken = &xOauthToken
	return r
}

// Cookie header containing sessionid and tt-target-idc
func (r ApiRetrieveLiveAnalyticsVideoListRequest) XCookieHeader(xCookieHeader string) ApiRetrieveLiveAnalyticsVideoListRequest {
	r.xCookieHeader = &xCookieHeader
	return r
}

func (r ApiRetrieveLiveAnalyticsVideoListRequest) Execute() (*LiveAnalyticsVideoListAPIResponse, *http.Response, error) {
	return r.ApiService.RetrieveLiveAnalyticsVideoListExecute(r)
}

/*
RetrieveLiveAnalyticsVideoList Method for RetrieveLiveAnalyticsVideoList

Requires Premium Routes Addon - Retrieve the list of past livestreams with analytics for the authenticated user.

**Note:** The session you attach must own the livestream to check analytics for a given `room_id`.

**Authentication:** Provide exactly one of the following headers:
- `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
- `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveLiveAnalyticsVideoListRequest
*/
func (a *TikTokLIVEPremiumAPIService) RetrieveLiveAnalyticsVideoList(ctx context.Context) ApiRetrieveLiveAnalyticsVideoListRequest {
	return ApiRetrieveLiveAnalyticsVideoListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return LiveAnalyticsVideoListAPIResponse
func (a *TikTokLIVEPremiumAPIService) RetrieveLiveAnalyticsVideoListExecute(r ApiRetrieveLiveAnalyticsVideoListRequest) (*LiveAnalyticsVideoListAPIResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LiveAnalyticsVideoListAPIResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEPremiumAPIService.RetrieveLiveAnalyticsVideoList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/live_analytics/video_list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "form", "")
	} else {
		var defaultValue float64 = 10
		r.count = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue float64 = 0
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOauthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-oauth-token", r.xOauthToken, "simple", "")
	}
	if r.xCookieHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cookie-header", r.xCookieHeader, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveRoomInfoRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEPremiumAPIService
	uniqueId *string
}

// The unique identifier for the TikTok user or room
func (r ApiRetrieveRoomInfoRequest) UniqueId(uniqueId string) ApiRetrieveRoomInfoRequest {
	r.uniqueId = &uniqueId
	return r
}

func (r ApiRetrieveRoomInfoRequest) Execute() (*WebcastRoomInfoRouteResponse, *http.Response, error) {
	return r.ApiService.RetrieveRoomInfoExecute(r)
}

/*
RetrieveRoomInfo Method for RetrieveRoomInfo

Requires Business Plan - Retrieve TikTok Live Room Information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveRoomInfoRequest
*/
func (a *TikTokLIVEPremiumAPIService) RetrieveRoomInfo(ctx context.Context) ApiRetrieveRoomInfoRequest {
	return ApiRetrieveRoomInfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WebcastRoomInfoRouteResponse
func (a *TikTokLIVEPremiumAPIService) RetrieveRoomInfoExecute(r ApiRetrieveRoomInfoRequest) (*WebcastRoomInfoRouteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WebcastRoomInfoRouteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEPremiumAPIService.RetrieveRoomInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/room_info"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.uniqueId == nil {
		return localVarReturnValue, nil, reportError("uniqueId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "uniqueId", r.uniqueId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveWebcastFeedRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEPremiumAPIService
	region *OxyLabsProxyRegion
}

// The region (country) with which to fetch a feed from.
func (r ApiRetrieveWebcastFeedRequest) Region(region OxyLabsProxyRegion) ApiRetrieveWebcastFeedRequest {
	r.region = &region
	return r
}

func (r ApiRetrieveWebcastFeedRequest) Execute() (*WebcastFeedRouteResponse, *http.Response, error) {
	return r.ApiService.RetrieveWebcastFeedExecute(r)
}

/*
RetrieveWebcastFeed Method for RetrieveWebcastFeed

Requires Premium Routes Addon - Fetch the TikTok LIVE webcast feed for a specific region. Gets a random sampling of creators for a region.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveWebcastFeedRequest
*/
func (a *TikTokLIVEPremiumAPIService) RetrieveWebcastFeed(ctx context.Context) ApiRetrieveWebcastFeedRequest {
	return ApiRetrieveWebcastFeedRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WebcastFeedRouteResponse
func (a *TikTokLIVEPremiumAPIService) RetrieveWebcastFeedExecute(r ApiRetrieveWebcastFeedRequest) (*WebcastFeedRouteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WebcastFeedRouteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEPremiumAPIService.RetrieveWebcastFeed")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/feed"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.region == nil {
		return localVarReturnValue, nil, reportError("region is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-jwt-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveWebcastUserEarningsRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEPremiumAPIService
	uniqueId *string
	period *WebcastUserEarningsOutputPeriod
	xOauthToken *string
	xCookieHeader *string
	sessionId *string
	ttTargetIdc *string
}

// The unique ID (username) of the user to fetch earnings for.
func (r ApiRetrieveWebcastUserEarningsRequest) UniqueId(uniqueId string) ApiRetrieveWebcastUserEarningsRequest {
	r.uniqueId = &uniqueId
	return r
}

// Earnings period
func (r ApiRetrieveWebcastUserEarningsRequest) Period(period WebcastUserEarningsOutputPeriod) ApiRetrieveWebcastUserEarningsRequest {
	r.period = &period
	return r
}

// OAuth access token for session resolution
func (r ApiRetrieveWebcastUserEarningsRequest) XOauthToken(xOauthToken string) ApiRetrieveWebcastUserEarningsRequest {
	r.xOauthToken = &xOauthToken
	return r
}

// Cookie header containing sessionid and tt-target-idc
func (r ApiRetrieveWebcastUserEarningsRequest) XCookieHeader(xCookieHeader string) ApiRetrieveWebcastUserEarningsRequest {
	r.xCookieHeader = &xCookieHeader
	return r
}

// Use x-oauth-token or x-cookie-header instead
// Deprecated
func (r ApiRetrieveWebcastUserEarningsRequest) SessionId(sessionId string) ApiRetrieveWebcastUserEarningsRequest {
	r.sessionId = &sessionId
	return r
}

// Use x-oauth-token or x-cookie-header instead
// Deprecated
func (r ApiRetrieveWebcastUserEarningsRequest) TtTargetIdc(ttTargetIdc string) ApiRetrieveWebcastUserEarningsRequest {
	r.ttTargetIdc = &ttTargetIdc
	return r
}

func (r ApiRetrieveWebcastUserEarningsRequest) Execute() (*WebcastUserEarningsResponse, *http.Response, error) {
	return r.ApiService.RetrieveWebcastUserEarningsExecute(r)
}

/*
RetrieveWebcastUserEarnings Method for RetrieveWebcastUserEarnings

Requires Premium Routes Addon - Retrieve TikTok LIVE earnings for a specific user.

**Authentication:** Provide exactly one of the following headers:
- `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
- `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveWebcastUserEarningsRequest
*/
func (a *TikTokLIVEPremiumAPIService) RetrieveWebcastUserEarnings(ctx context.Context) ApiRetrieveWebcastUserEarningsRequest {
	return ApiRetrieveWebcastUserEarningsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WebcastUserEarningsResponse
func (a *TikTokLIVEPremiumAPIService) RetrieveWebcastUserEarningsExecute(r ApiRetrieveWebcastUserEarningsRequest) (*WebcastUserEarningsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WebcastUserEarningsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEPremiumAPIService.RetrieveWebcastUserEarnings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/user_earnings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.uniqueId == nil {
		return localVarReturnValue, nil, reportError("uniqueId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "unique_id", r.uniqueId, "form", "")
	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	}
	if r.sessionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "session_id", r.sessionId, "form", "")
	}
	if r.ttTargetIdc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tt_target_idc", r.ttTargetIdc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOauthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-oauth-token", r.xOauthToken, "simple", "")
	}
	if r.xCookieHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cookie-header", r.xCookieHeader, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSendRoomChatRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEPremiumAPIService
	sendRoomChatRequest *SendRoomChatRequest
	xOauthToken *string
	xCookieHeader *string
}

// The payload configuration for sending a chat
func (r ApiSendRoomChatRequest) SendRoomChatRequest(sendRoomChatRequest SendRoomChatRequest) ApiSendRoomChatRequest {
	r.sendRoomChatRequest = &sendRoomChatRequest
	return r
}

// OAuth access token for session resolution
func (r ApiSendRoomChatRequest) XOauthToken(xOauthToken string) ApiSendRoomChatRequest {
	r.xOauthToken = &xOauthToken
	return r
}

// Cookie header containing sessionid and tt-target-idc
func (r ApiSendRoomChatRequest) XCookieHeader(xCookieHeader string) ApiSendRoomChatRequest {
	r.xCookieHeader = &xCookieHeader
	return r
}

func (r ApiSendRoomChatRequest) Execute() (*WebcastRoomChatRouteResponse, *http.Response, error) {
	return r.ApiService.SendRoomChatExecute(r)
}

/*
SendRoomChat Method for SendRoomChat

Requires Premium Routes Addon - Send a chat to a TikTok LIVE room.

Either `targetRoomId` or `targetUniqueId` must be provided to identify the room.

**Authentication:** Provide exactly one of the following headers:
- `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
- `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSendRoomChatRequest
*/
func (a *TikTokLIVEPremiumAPIService) SendRoomChat(ctx context.Context) ApiSendRoomChatRequest {
	return ApiSendRoomChatRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WebcastRoomChatRouteResponse
func (a *TikTokLIVEPremiumAPIService) SendRoomChatExecute(r ApiSendRoomChatRequest) (*WebcastRoomChatRouteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WebcastRoomChatRouteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEPremiumAPIService.SendRoomChat")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/chat"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sendRoomChatRequest == nil {
		return localVarReturnValue, nil, reportError("sendRoomChatRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOauthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-oauth-token", r.xOauthToken, "simple", "")
	}
	if r.xCookieHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cookie-header", r.xCookieHeader, "simple", "")
	}
	// body params
	localVarPostBody = r.sendRoomChatRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
