/*
Euler Stream Sign API

Sign Server API Documentation

API version: dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package eulerapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// TikTokLIVEAPIService TikTokLIVEAPI service
type TikTokLIVEAPIService service

type ApiFetchWebcastURLRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEAPIService
	client *string
	roomId *string
	uniqueId *string
	cursor *string
	userAgent *string
	clientEnter *bool
	country *SoaxProxyRegion
	platform *WebcastFetchPlatform
	xOauthToken *string
	xCookieHeader *string
	sessionId *string
	ttTargetIdc *string
}

// The client library identifier. Used for metrics.
func (r ApiFetchWebcastURLRequest) Client(client string) ApiFetchWebcastURLRequest {
	r.client = &client
	return r
}

// The room ID to fetch the Webcast URL for.
func (r ApiFetchWebcastURLRequest) RoomId(roomId string) ApiFetchWebcastURLRequest {
	r.roomId = &roomId
	return r
}

// The unique ID of the TikTok user. Send this instead of a Room ID, if you&#39;re an Enterprise user.
func (r ApiFetchWebcastURLRequest) UniqueId(uniqueId string) ApiFetchWebcastURLRequest {
	r.uniqueId = &uniqueId
	return r
}

// Starting cursor for the webcast connection, if any
func (r ApiFetchWebcastURLRequest) Cursor(cursor string) ApiFetchWebcastURLRequest {
	r.cursor = &cursor
	return r
}

// Override the user agent used for signing and fetching
func (r ApiFetchWebcastURLRequest) UserAgent(userAgent string) ApiFetchWebcastURLRequest {
	r.userAgent = &userAgent
	return r
}

// Whether the client enters a room after connecting, or if it&#39;s done by query parameters
func (r ApiFetchWebcastURLRequest) ClientEnter(clientEnter bool) ApiFetchWebcastURLRequest {
	r.clientEnter = &clientEnter
	return r
}

// Country code to make the request from.
func (r ApiFetchWebcastURLRequest) Country(country SoaxProxyRegion) ApiFetchWebcastURLRequest {
	r.country = &country
	return r
}

// Platform to connect with
func (r ApiFetchWebcastURLRequest) Platform(platform WebcastFetchPlatform) ApiFetchWebcastURLRequest {
	r.platform = &platform
	return r
}

// OAuth access token for session resolution
func (r ApiFetchWebcastURLRequest) XOauthToken(xOauthToken string) ApiFetchWebcastURLRequest {
	r.xOauthToken = &xOauthToken
	return r
}

// Cookie header containing sessionid and tt-target-idc
func (r ApiFetchWebcastURLRequest) XCookieHeader(xCookieHeader string) ApiFetchWebcastURLRequest {
	r.xCookieHeader = &xCookieHeader
	return r
}

// Use x-oauth-token or x-cookie-header instead
// Deprecated
func (r ApiFetchWebcastURLRequest) SessionId(sessionId string) ApiFetchWebcastURLRequest {
	r.sessionId = &sessionId
	return r
}

// Use x-oauth-token or x-cookie-header instead
// Deprecated
func (r ApiFetchWebcastURLRequest) TtTargetIdc(ttTargetIdc string) ApiFetchWebcastURLRequest {
	r.ttTargetIdc = &ttTargetIdc
	return r
}

func (r ApiFetchWebcastURLRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.FetchWebcastURLExecute(r)
}

/*
FetchWebcastURL Method for FetchWebcastURL

Fetch the WebSocket URL & first payload for a TikTok LIVE Room given a Room ID.

**Authentication (Optional):** Anonymous access is supported. For authenticated requests, provide exactly one of the following headers:
- `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
- `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFetchWebcastURLRequest
*/
func (a *TikTokLIVEAPIService) FetchWebcastURL(ctx context.Context) ApiFetchWebcastURLRequest {
	return ApiFetchWebcastURLRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *TikTokLIVEAPIService) FetchWebcastURLExecute(r ApiFetchWebcastURLRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEAPIService.FetchWebcastURL")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/fetch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.client != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "client", r.client, "form", "")
	} else {
		var defaultValue string = "ttlive-other"
		r.client = &defaultValue
	}
	if r.roomId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "room_id", r.roomId, "form", "")
	}
	if r.uniqueId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unique_id", r.uniqueId, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.userAgent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_agent", r.userAgent, "form", "")
	}
	if r.clientEnter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "client_enter", r.clientEnter, "form", "")
	} else {
		var defaultValue bool = true
		r.clientEnter = &defaultValue
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	if r.sessionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "session_id", r.sessionId, "form", "")
	}
	if r.ttTargetIdc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tt_target_idc", r.ttTargetIdc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOauthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-oauth-token", r.xOauthToken, "simple", "")
	}
	if r.xCookieHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cookie-header", r.xCookieHeader, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-jwt-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRateLimitsRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEAPIService
}

func (r ApiGetRateLimitsRequest) Execute() (*GetRateLimits, *http.Response, error) {
	return r.ApiService.GetRateLimitsExecute(r)
}

/*
GetRateLimits Method for GetRateLimits

Retrieve the rate limits for the provided API key (or the unauthenticated limits if no key is provided)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetRateLimitsRequest
*/
func (a *TikTokLIVEAPIService) GetRateLimits(ctx context.Context) ApiGetRateLimitsRequest {
	return ApiGetRateLimitsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetRateLimits
func (a *TikTokLIVEAPIService) GetRateLimitsExecute(r ApiGetRateLimitsRequest) (*GetRateLimits, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetRateLimits
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEAPIService.GetRateLimits")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/rate_limits"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveGiftInfoRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEAPIService
	roomId *string
	webcastLanguage *string
}

// The room ID of the TikTok LIVE session
func (r ApiRetrieveGiftInfoRequest) RoomId(roomId string) ApiRetrieveGiftInfoRequest {
	r.roomId = &roomId
	return r
}

// Webcast language for locale-based fields
func (r ApiRetrieveGiftInfoRequest) WebcastLanguage(webcastLanguage string) ApiRetrieveGiftInfoRequest {
	r.webcastLanguage = &webcastLanguage
	return r
}

func (r ApiRetrieveGiftInfoRequest) Execute() (*WebcastGiftInfoRouteResponse, *http.Response, error) {
	return r.ApiService.RetrieveGiftInfoExecute(r)
}

/*
RetrieveGiftInfo Method for RetrieveGiftInfo

Retrieve TikTok Live Room Gift List

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveGiftInfoRequest
*/
func (a *TikTokLIVEAPIService) RetrieveGiftInfo(ctx context.Context) ApiRetrieveGiftInfoRequest {
	return ApiRetrieveGiftInfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WebcastGiftInfoRouteResponse
func (a *TikTokLIVEAPIService) RetrieveGiftInfoExecute(r ApiRetrieveGiftInfoRequest) (*WebcastGiftInfoRouteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WebcastGiftInfoRouteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEAPIService.RetrieveGiftInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/gift_info"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.roomId == nil {
		return localVarReturnValue, nil, reportError("roomId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "room_id", r.roomId, "form", "")
	if r.webcastLanguage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "webcast_language", r.webcastLanguage, "form", "")
	} else {
		var defaultValue string = "en"
		r.webcastLanguage = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveHashtagListRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEAPIService
}

func (r ApiRetrieveHashtagListRequest) Execute() (*HashtagListAPIResponse, *http.Response, error) {
	return r.ApiService.RetrieveHashtagListExecute(r)
}

/*
RetrieveHashtagList Method for RetrieveHashtagList

Requires Premium Routes Addon - Retrieve the list of available hashtags for TikTok LIVE streams.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveHashtagListRequest
*/
func (a *TikTokLIVEAPIService) RetrieveHashtagList(ctx context.Context) ApiRetrieveHashtagListRequest {
	return ApiRetrieveHashtagListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return HashtagListAPIResponse
func (a *TikTokLIVEAPIService) RetrieveHashtagListExecute(r ApiRetrieveHashtagListRequest) (*HashtagListAPIResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HashtagListAPIResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEAPIService.RetrieveHashtagList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/hashtag_list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveRoomCoverRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEAPIService
	uniqueId *string
}

// The unique ID of the TikTok to fetch the cover for.
func (r ApiRetrieveRoomCoverRequest) UniqueId(uniqueId string) ApiRetrieveRoomCoverRequest {
	r.uniqueId = &uniqueId
	return r
}

func (r ApiRetrieveRoomCoverRequest) Execute() (*JSONResponse, *http.Response, error) {
	return r.ApiService.RetrieveRoomCoverExecute(r)
}

/*
RetrieveRoomCover Method for RetrieveRoomCover

Requires Business Plan - Fetch TikTok LIVE Stream Cover URL given a uniqueId.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveRoomCoverRequest
*/
func (a *TikTokLIVEAPIService) RetrieveRoomCover(ctx context.Context) ApiRetrieveRoomCoverRequest {
	return ApiRetrieveRoomCoverRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JSONResponse
func (a *TikTokLIVEAPIService) RetrieveRoomCoverExecute(r ApiRetrieveRoomCoverRequest) (*JSONResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JSONResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEAPIService.RetrieveRoomCover")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/room_cover"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.uniqueId == nil {
		return localVarReturnValue, nil, reportError("uniqueId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "uniqueId", r.uniqueId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-jwt-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveRoomIdRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEAPIService
	uniqueId *string
}

// The unique ID of the TikTok user to fetch the data for.
func (r ApiRetrieveRoomIdRequest) UniqueId(uniqueId string) ApiRetrieveRoomIdRequest {
	r.uniqueId = &uniqueId
	return r
}

func (r ApiRetrieveRoomIdRequest) Execute() (*WebcastRoomIdRouteResponse, *http.Response, error) {
	return r.ApiService.RetrieveRoomIdExecute(r)
}

/*
RetrieveRoomId Method for RetrieveRoomId

Requires Business Plan - Fetch Room ID for a given uniqueId & whether that user is live.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveRoomIdRequest
*/
func (a *TikTokLIVEAPIService) RetrieveRoomId(ctx context.Context) ApiRetrieveRoomIdRequest {
	return ApiRetrieveRoomIdRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WebcastRoomIdRouteResponse
func (a *TikTokLIVEAPIService) RetrieveRoomIdExecute(r ApiRetrieveRoomIdRequest) (*WebcastRoomIdRouteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WebcastRoomIdRouteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEAPIService.RetrieveRoomId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/room_id"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.uniqueId == nil {
		return localVarReturnValue, nil, reportError("uniqueId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "uniqueId", r.uniqueId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-jwt-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveRoomVideoRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEAPIService
	uniqueId *string
	streamType *StreamType
}

// The unique ID of the TikTok to fetch the data for.
func (r ApiRetrieveRoomVideoRequest) UniqueId(uniqueId string) ApiRetrieveRoomVideoRequest {
	r.uniqueId = &uniqueId
	return r
}

// The type of video stream to fetch. Default is HLS_SD.
func (r ApiRetrieveRoomVideoRequest) StreamType(streamType StreamType) ApiRetrieveRoomVideoRequest {
	r.streamType = &streamType
	return r
}

func (r ApiRetrieveRoomVideoRequest) Execute() (*JSONResponse, *http.Response, error) {
	return r.ApiService.RetrieveRoomVideoExecute(r)
}

/*
RetrieveRoomVideo Method for RetrieveRoomVideo

Requires Business Plan - Fetch TikTok LIVE Stream video given a uniqueId.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveRoomVideoRequest
*/
func (a *TikTokLIVEAPIService) RetrieveRoomVideo(ctx context.Context) ApiRetrieveRoomVideoRequest {
	return ApiRetrieveRoomVideoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JSONResponse
func (a *TikTokLIVEAPIService) RetrieveRoomVideoExecute(r ApiRetrieveRoomVideoRequest) (*JSONResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JSONResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEAPIService.RetrieveRoomVideo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/room_video"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.uniqueId == nil {
		return localVarReturnValue, nil, reportError("uniqueId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "uniqueId", r.uniqueId, "form", "")
	if r.streamType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "streamType", r.streamType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["jwt_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-jwt-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveWebcastRankingsRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEAPIService
	region *OxyLabsProxyRegion
	rankType *string
	xOauthToken *string
	xCookieHeader *string
	sessionId *string
	ttTargetIdc *string
}

// The region (country) with which to fetch a feed from.
func (r ApiRetrieveWebcastRankingsRequest) Region(region OxyLabsProxyRegion) ApiRetrieveWebcastRankingsRequest {
	r.region = &region
	return r
}

// The type of ranking to fetch. See documentation for more details.
func (r ApiRetrieveWebcastRankingsRequest) RankType(rankType string) ApiRetrieveWebcastRankingsRequest {
	r.rankType = &rankType
	return r
}

// OAuth access token for session resolution
func (r ApiRetrieveWebcastRankingsRequest) XOauthToken(xOauthToken string) ApiRetrieveWebcastRankingsRequest {
	r.xOauthToken = &xOauthToken
	return r
}

// Cookie header containing sessionid and tt-target-idc
func (r ApiRetrieveWebcastRankingsRequest) XCookieHeader(xCookieHeader string) ApiRetrieveWebcastRankingsRequest {
	r.xCookieHeader = &xCookieHeader
	return r
}

// Use x-oauth-token or x-cookie-header instead
// Deprecated
func (r ApiRetrieveWebcastRankingsRequest) SessionId(sessionId string) ApiRetrieveWebcastRankingsRequest {
	r.sessionId = &sessionId
	return r
}

// Use x-oauth-token or x-cookie-header instead
// Deprecated
func (r ApiRetrieveWebcastRankingsRequest) TtTargetIdc(ttTargetIdc string) ApiRetrieveWebcastRankingsRequest {
	r.ttTargetIdc = &ttTargetIdc
	return r
}

func (r ApiRetrieveWebcastRankingsRequest) Execute() (*WebcastRegionRankingsResponse, *http.Response, error) {
	return r.ApiService.RetrieveWebcastRankingsExecute(r)
}

/*
RetrieveWebcastRankings Method for RetrieveWebcastRankings

Requires Premium Routes Addon - Retrieve TikTok LIVE rankings for a specific region.

**Authentication:** Provide exactly one of the following headers:
- `x-oauth-token`: An OAuth access token. The sessionId and ttTargetIdc are resolved from the stored OAuth session. [Read More](https://www.eulerstream.com/docs/oauth)
- `x-cookie-header`: A cookie header string containing `sessionid` and `tt-target-idc` cookies from TikTok.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRetrieveWebcastRankingsRequest
*/
func (a *TikTokLIVEAPIService) RetrieveWebcastRankings(ctx context.Context) ApiRetrieveWebcastRankingsRequest {
	return ApiRetrieveWebcastRankingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WebcastRegionRankingsResponse
func (a *TikTokLIVEAPIService) RetrieveWebcastRankingsExecute(r ApiRetrieveWebcastRankingsRequest) (*WebcastRegionRankingsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WebcastRegionRankingsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEAPIService.RetrieveWebcastRankings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/rankings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.region == nil {
		return localVarReturnValue, nil, reportError("region is required and must be specified")
	}
	if r.rankType == nil {
		return localVarReturnValue, nil, reportError("rankType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "rank_type", r.rankType, "form", "")
	if r.sessionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "session_id", r.sessionId, "form", "")
	}
	if r.ttTargetIdc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tt_target_idc", r.ttTargetIdc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOauthToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-oauth-token", r.xOauthToken, "simple", "")
	}
	if r.xCookieHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cookie-header", r.xCookieHeader, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSignWebcastUrlRequest struct {
	ctx context.Context
	ApiService *TikTokLIVEAPIService
	signTikTokUrlBody *SignTikTokUrlBody
	client *string
}

func (r ApiSignWebcastUrlRequest) SignTikTokUrlBody(signTikTokUrlBody SignTikTokUrlBody) ApiSignWebcastUrlRequest {
	r.signTikTokUrlBody = &signTikTokUrlBody
	return r
}

func (r ApiSignWebcastUrlRequest) Client(client string) ApiSignWebcastUrlRequest {
	r.client = &client
	return r
}

func (r ApiSignWebcastUrlRequest) Execute() (*SignWebcastUrl200Response, *http.Response, error) {
	return r.ApiService.SignWebcastUrlExecute(r)
}

/*
SignWebcastUrl Method for SignWebcastUrl

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSignWebcastUrlRequest
*/
func (a *TikTokLIVEAPIService) SignWebcastUrl(ctx context.Context) ApiSignWebcastUrlRequest {
	return ApiSignWebcastUrlRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SignWebcastUrl200Response
func (a *TikTokLIVEAPIService) SignWebcastUrlExecute(r ApiSignWebcastUrlRequest) (*SignWebcastUrl200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SignWebcastUrl200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TikTokLIVEAPIService.SignWebcastUrl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webcast/sign_url"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.signTikTokUrlBody == nil {
		return localVarReturnValue, nil, reportError("signTikTokUrlBody is required and must be specified")
	}

	if r.client != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "client", r.client, "form", "")
	} else {
		var defaultValue string = "ttlive-other"
		r.client = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.signTikTokUrlBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_query"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key_header"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
